<% if post.user %>
  <div id="post-<%= post.id %>" class="activity-post">
    <div class="post">
      <div class="info">
        <h4 class="name"><%= link_to post.user.name, user_path(post.user) %></h4>
        <span class="action">created a <%= link_to 'post', post %></span>
      </div>
      <div class="content">
        <span class="text"><%= post.content_text %></span>
        <div class="attachment">
          <% if get_post_attachments(post) %>
            <% @attachments.each do |attachment| %>
              <%= image_tag(attachment.file.url.to_s) %>
            <% end %>
          <% end %>
        </div>
        <%= render 'posts/created_at', activity: post %>
        <div class="points">
          <span class="like-count"><%= pluralize(likes_count(post), 'like') %></span>
          <span class="comments-count"><%= pluralize(comments_count(post), 'comment') %></span>
          <div class="pull-right">
            <% if belongs_to_user?(post) %>
              <%= link_to edit_post_path(post), class: 'btn btn-primary btn-sm' do %>
                <% fa_icon 'pencil' %>
              <% end %>
              <%= link_to post_path(post), method: :delete, class: 'btn btn-danger btn-sm' do %>
                <% fa_icon 'trash' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render 'posts/actions', resource: post %>
    </div>
  </div>
<% end %>

